

.btn-vermelho {
    border: none;
    background-color: #9A1915;
    color: #fff;
}

.btn-vermelho:hover {
    background-color: #791411;
    color: #fff;

}

.btn-vermelho:active {
    background-color: #5c100d !important;
    color: #fff !important;
}

.input-vermelho:focus {
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body.modal-open{
    padding: 0 !important;
}


  .status {
    position: relative;
    padding-left: 20px;
    text-transform: capitalize;
}

.status::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;   
  height: 10px;
  border-radius: 50%;
  
}
.status-sucesso::before{
    background-color: #008000; /* cor do status */
}
.status-perigo::before{
    background-color: #ff0000; /* cor do status */
}
.status-andamento::before{
    background-color: #ffff00; /* cor do status */
}