
.formContato{
background-color: #862922;
color: white;
}


.formContato input:focus,
.formContato textarea:focus {
    border-color: #fff !important; 
    color: #fff; 
    background-color: rgba(255, 255, 255, 0.25); 
}


.formContato input:focus + label,
.formContato textarea:focus + label {
    color: #fff !important;
}

.formContato .form-label {
    color: #fff !important; 
}



.texto1Contato{
    color: #862922;
}

.iconeContato{
    color: #862922;
}

.tituloContato{
 color: #862922;
 font-weight: bold;
}

.subtituloContato{
    color: #862922;
    font-weight: 100;
    font-size: small;
}

/* BANNER */
.bannerContato {
  width: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
}

.bannerContatoDesktop {
  width: 100%;
  display: block;
  margin: auto;
}

.bannerContatoMobile {
  width: 100%;
  position: relative;
  display: block;
  margin: auto;
}

.espaco{
    margin-top: 120px;
}


.banner2Contato {
  width: 100%;
  position: relative; 
  top: 0;
  overflow: hidden;
}

.bannerContato2Desktop,
.bannerContato2Mobile {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 3%;
}

.botaoBannerContato {
  position: absolute;
  top: 65%;  
  left: 8%;  
  transform: translateY(15%); 
  padding: 1.0em 2.5em;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #a73128;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 0.4s ease;
  width: 100%;
  max-width: 530px;
  z-index: 10;
}

.botaoBannerContato::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  transition: all 0.4s ease;
}

.botaoBannerContato:hover {
  color: #e8e8e8;
}

.botaoBannerContato:hover::before {
  width: 100%;
}

/* Responsividade */
@media (min-width: 600px) and (max-width: 1024px) {
  .botaoBannerContato {
    font-size: 16px;
    padding: 1em 2em;
    max-width: 40%;
    left: 8%;
    top: 60%;
  }
}

@media (max-width: 768px) {
  .botaoBannerContato {
    font-size: 16px;
    padding: 1em 1em;
    top: 65%;
    left: 10%;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .botaoBannerContato {
    font-size: 15px;
    padding: 1em 1.5em;
    top: 65%;
    display: block;
    margin: auto;
    max-width: 80%;
  }
}


.botaoContato {
    padding: 1.0em 2.5em; 
    border: none; 
    font-weight: bold;
    font-size: 18px; 
    color: #a73128;
    text-transform: uppercase; 
    background: #ffffff; 
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 0.4s ease;
    width: 100%;
    max-width: 530px; 
    z-index: 10; 
    margin-top: 15px;
}


.botaoContato:hover {
    color: #ffffff;
    background-color: black; 
}


.formContato ::placeholder {
  color: rgba(255, 255, 255, 0.632) ;
  opacity: 1; 
  font-weight:bold;

}


.formContato input:focus,
.formContato textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid white !important;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}


