.formContato {
  background-color: #2f2f2f;
  color: white;
}


.formContato input:focus,
.formContato textarea:focus {
  border-color: #fff !important;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
}


.formContato input:focus+label,
.formContato textarea:focus+label {
  color: #fff !important;
}

.formContato .form-label {
  color: #fff !important;
}

.texto1Contato {
  color: #862922;
}

.iconeContato {
  color: #862922;
}

.tituloContato {
  color: #862922;
  font-weight: bold;
}

.subtituloContato {
  color: #862922;
  font-weight: 100;
  font-size: small;
}

/* BANNER */
.bannerContato {
  width: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
}

.bannerContatoDesktop {
  width: 100%;
  display: block;
  margin: auto;
}

.bannerContatoMobile {
  width: 100%;
  position: relative;
  display: block;
  margin: auto;
}

.espaco {
  margin-top: 45px;
}

.banner2Contato {
  width: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
}

.bannerContato2Desktop,
.bannerContato2Mobile {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 3%;
}

.botaoBannerContato {
  position: absolute;
  top: 65%;
  left: 8%;
  transform: translateY(15%);
  padding: 1.0em 2.5em;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #a73128;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 0.4s ease;
  width: 100%;
  max-width: 530px;
  z-index: 10;
}

.botaoBannerContato::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  transition: all 1s ease;
}

.botaoBannerContato:hover {
  color: #e8e8e8;
}

.botaoBannerContato:hover::before {
  width: 100%;
}

/* Responsividade */
@media (min-width: 600px) and (max-width: 1024px) {
  .botaoBannerContato {
    font-size: 16px;
    padding: 1em 2em;
    max-width: 40%;
    left: 8%;
    top: 60%;
  }
}

@media (max-width: 768px) {
  .botaoBannerContato {
    font-size: 16px;
    padding: 1em 1em;
    top: 65%;
    left: 10%;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .botaoBannerContato {
    font-size: 15px;
    padding: 1em 1.5em;
    top: 65%;
    display: block;
    margin: auto;
    max-width: 80%;
  }
}


/* BOTÃO DO FORMULÁRIO */
.botaoContato {
  padding: 3% 3%;
  border: unset;
  z-index: 1;
  background: #ffffff;
  position: relative;
  font-weight: bold;
  font-size: 17px !important;
  color: #7d2e2e;
  text-transform: uppercase;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 1000ms;
  overflow: hidden;
  width: 100%;
  max-width: 530px;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.botaoContato::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #85241F;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 1s;
}

.botaoContato:hover {
  color: #e8e8e8 !important;
}

.botaoContato:hover::before {
  width: 100%;
}

@keyframes shine {
  0% {
    left: -75px;
  }

  100% {
    left: 120%;
  }
}

.contatoHighlight {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(255, 255, 255, 0.856);
  display: inline-block;
  /* garante que o border acompanhe o texto */
  padding-bottom: -1px;
}

.formContato {
  height: 100%;
}

.formContato ::placeholder {
  color: rgba(255, 255, 255, 0.632);
  opacity: 1;
  font-weight: bold;

}


.formContato input:focus,
.formContato textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid white !important;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.mapContainer {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 10 / 4;
  margin-bottom: 5px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.map {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}



/* ÁREA DE REABRIR CHAMADOS. EXPLICAÇÃO */
.botaoBanner3Contato {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translateY(15%);
  padding: 1.0em 2.5em;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #a73128;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 0.4s ease;
  width: 100%;
  max-width: 530px;
  z-index: 10;
}

.botaoBanner3Contato::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #85241F;
  z-index: -1;
  transition: all 1s ease;
}

.botaoBanner3Contato:hover {
  color: #e8e8e8;
}

.botaoBanner3Contato:hover::before {
  width: 100%;
}

/* Responsividade */
@media (min-width: 600px) and (max-width: 1024px) {
  .botaoBanner3Contato {
    font-size: 16px;
    padding: 1em 2em;
    max-width: 40%;
    left: 40%;
    top: 70%;
  }
}

@media (max-width: 768px) {
  .botaoBanner3Contato {
    font-size: 16px;
    padding: 1em 1em;
    top: 75%;
    left: 10%;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .botaoBanner3Contato {
    font-size: 15px;
    padding: 1em 1.5em;
    top: 70%;
    display: block;
    margin: auto;
    max-width: 80%;
  }
}


