
:root {
  --preto: #0b090aff;
  --preto-claro: #161a1dff;
  --vihno : #681413ff;
  --vermelho-escuro: #9a1915ff;
  --vermelho: #e30613ff;
  --cinza: #878787ff;
  --cinza-claro: #d3d3d3ff;
  --branco-cinzento: #f5f3f4ff;
  --branco: #ffffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-vermelho {
  background-color: var(--vermelho);
}
.bg-vermelho a,
.bg-vermelho p,
.bg-vermelho h1,
.bg-vermelho h2,
.bg-vermelho h3,
.bg-vermelho h4,
.bg-vermelho h5,
.bg-vermelho h6,
.bg-vermelho li{
   color: var(--branco);
}