.btnVoltarTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #878787;
  color: #dcdad6;
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  line-height: 0% !important;
}

.btnVoltarTopo:hover {
  background-color: #acacac;
  color: rgb(61, 61, 61);
}