.carrosselAtribuicoesAdm {
    padding-bottom: 3% !important;
}

.swiper {
  padding: 2rem 1rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #6b4a19;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #a40000;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: #a40000;
}

.swiper-slide-active {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.swiper-slide {
  transition: transform 0.5s ease;
}

.swiper-scrollbar-drag {
  background: #a40000 !important;
}

.carrosselAdm :global(.swiper-button-next),
.carrosselAdm :global(.swiper-button-prev) {
  padding: 0% 0%;
  color: #a40000;
}

/* media queries */

@media (min-width: 1670px) {
    .FuncoesAdm {
        background-image: url('/img/bgUmTabletAdm.png');
    }
}

@media (min-width: 1100px) {
    .tituloFuncoesAdm {
        padding-top: 4% !important;
    }
}

@media (max-width: 768px) {
    .carrosselAdm {
        padding-top: 4% !important;
    }
}

@media (max-width: 576px) {
    .tituloFuncoesAdm {
        padding: 10% !important;
        padding-bottom: 0% !important;
        text-align: center !important;
    }
}


.carrosselAtribuicoesAdm :global(.swiper-slide) {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto !important;
}

.carrosselAtribuicoesAdm :global(.swiper-slide-active) {
  transform: scale(1.05);
  transform-origin: center center;
  transition: transform 0.4s ease;
}

.carrosselAtribuicoesAdm :global(.swiper-wrapper) {
  align-items: stretch; 
}


.carrosselAtribuicoesAdm :global(.swiper-slide > div) {
  flex: 1;
  display: flex;
  height: 100%;
}

@media (max-width: 320px) {
  .carrosselAtribuicoesAdm{
    padding: 0rem !important;
  }
}