
.containerError403 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* muda para min-height pra caber em telas menores */
  padding: 20px;
  background-image: url("/img/fundoBinario.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

/* Conteúdo */
.contentError403 {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

/* Imagem */
.imgError403 {
  max-width: 100%;
  height: auto;
}

/* Mensagem */
.messageError403 {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
}

/* Botão */
.buttonError403 {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background: #c5c5c5;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  transition: 0.3s;
}
.buttonError403:hover {
  background: #ffffff;
}

.botaoVoltarHome:hover {
  color: #e8e8e8;
}

.botaoVoltarHome:hover::before {
  width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  .messageError403 {
    font-size: 1.2rem;
  }
  .buttonError403 {
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .messageError403 {
    font-size: 1rem;
  }
  .buttonError403 {
    padding: 0.6rem 1rem;
    font-size: 0.85rem;
  }
}
