.btn-voltar-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c95400;
  color: #DDBF91;
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.btn-voltar-topo:hover {
  background-color: #a94600;
}