.botaoBannerContato {
  position: absolute;
  top: 65%;  /* posição vertical */
  left: 8%;  /* posição horizontal */
  transform: translateY(15%); /* centraliza melhor verticalmente */
  padding: 1.0em 2.5em;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #a73128;
  text-transform: uppercase;
  background: #ffffff;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 0.4s ease;
  width: 100%;
  max-width: 530px;
  z-index: 10;
}

.botaoBannerContato::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  transition: all 0.4s ease;
}

.botaoBannerContato:hover {
  color: #e8e8e8;
}

.botaoBannerContato:hover::before {
  width: 100%;
}