.footer {
    padding-left: 60px !important;
}

.btn-vermelho {
    border: none;
    background-color: #9A1915;
    color: #fff;
}

.btn-vermelho:hover {
    background-color: #791411;
    color: #fff;

}

.btn-vermelho:active {
    background-color: #5c100d !important;
    color: #fff !important;
}